.widget_comment{
    &:before{
        margin-top:10px;
        border: 2px solid $text-color-inactive;
    }
    &:after{
        position:relative;
        width:100%;
        border: 2px solid $text-color-inactive;
        margin: 15px 0;
    }
    color:black;
    .comment-card{
        display:block;
        .comment-details{
            width:100%;
        }
    }
    
    & .children{
        margin-left: 15px;
    }
}