.default-button {
  background: url($css-media-path + 'button.png') top left;
  padding: 15px 20px;
  margin: 20px 0 0;
  display: inline-block;
  color: $button-text-color-default;
  border: 0;
  min-width: 200px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: $button-text-color-default;
  }
}
.default-button.green {
  background: url($css-media-path + 'button.png');
  color: $button-text-color-secondary;
  &:hover {
    text-decoration: underline;
    color: $button-text-color-default;
  }
}
.get-bonus-button {
  width: 140px;
  height: 137px;
  @include no-underline;
  background: url($css-media-path + 'button-2-2-(1).png');
  margin-top: 5px;
  transition: all 0.1s ease-in-out;
  &:hover {
    box-shadow: inset 0px 0px 50px 20px rgba(33, 214, 55, 0.42), 0px 0px 25px 5px rgba(6, 166, 18, 0.5);
  }
}
.get-bonus-button.first {
  background: url($css-media-path + 'button-1-2.png');
  &:hover {
    box-shadow: inset 0px 0px 50px 20px rgba(251, 232, 61, 0.74), 0px 0px 25px 5px rgba(251, 213, 67, 0.72);
  }
}
.get-bonus-button.bingo {
  background: url($css-media-path + 'button-blue.jpg');
  &:hover {
    box-shadow: inset 0px 0px 50px 20px rgba(45, 177, 226, 0.42), 0px 0px 25px 5px rgba(66, 223, 246, 0.72);
  }
}
.get-bonus-button.bingo.first {
  background: url($css-media-path + 'button-pink.jpg') repeat;
  &:hover {
    box-shadow: inset 0px 0px 50px 20px rgba(237, 26, 146, 0.42), 0px 0px 25px 5px rgba(237, 70, 161, 0.72);
  }
}
.check-button {
  color: #a3a3a3;
  background-color: #fff;
  border: 2px solid $border-color-medium;
  padding: 10px 16px;
  font-size: 1.1em;
  display: block;
  font-weight: 700;
  width: 220px;
  &:hover {
    color: $color-active;
    border-color: $color-active;
    text-decoration: none;
  }
  &:focus {
    color: $color-active;
    border-color: $color-active;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}