.widget_content_authors{
    & .arrow-right {
        float:right;
        vertical-align:middle;
    }
    & .image-wrapper{
        img{
            display:inline-block;
            float: left;
        }
    }
}