.dynamic-list-filter {
    float: none;

    ::-webkit-scrollbar {
        width: 40px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: white;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 15px;
        border-right: 15px solid transparent;
        background-clip: padding-box;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 15px solid transparent;
        min-height: 45px;
    }

    ::-webkit-scrollbar-track {
        background: #222;
        border: 11px solid transparent;
        background-clip: padding-box;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    button {
        @include border-radius(0px);
    }

    .labels {
        a {
            @include no-underline;
            margin-bottom: 10px;
            margin-right: 15px;
            position: relative;
            display: inline-block;
            color: #000;
            font-size: $text-size-x-small;
            font-weight: bold;
            padding: 4px 12px;
            @include border-thin($border-dark);
            @include radial-gradient(rgba(255, 255, 255, 1), rgba(228, 226, 226, 0.19));
            i[icon-] {
                @include transform(rotateX(45deg));
                @include border-radius(50%);
                font-size: 7px;
                padding: 4px 4px 5px 5px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -8px;
                color: white;
            }
        }
    }

    .disclosure {
        display: inline-block;
        margin-right: 5px;
    }

    .sort-filter {
        .dropdown-menu {
            min-width: 240px;
            overflow: auto;
            max-height: 380px;
            margin: 0;
            .icon-filter-arrow {
                line-height: 2;
            }

            a.option {
                position: relative;
                margin-left: 10px;

                &:before {
                    content: "";
                    position: absolute;
                    left: 20px;
                    bottom: 0;
                    height: 1px;
                    width: 80%;
                    border-bottom: 1px solid #dddddd;
                }
            }

            li[data-filter] a:hover {
                font-weight: bold;
                color: black;
            }

            li {
                &:not([data-filter]):not([data-sort]) {
                    font-size: $text-size-large;
                    font-weight: bold;
                }

                a.option {
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                li:last-child a.option:before {
                    border: none;
                }
            }
        }
        .btn-group {
            button {
                background: #fff none;
                margin-right: -5px;
                padding: 5px 75px 5px 5px;
                text-transform: uppercase;
                color: $text-secondary-color;
                @include border-thin($border-dark);

                &:first-child {
                    padding: 8px 50px 5px 8px;
                    margin-bottom: 2px;
                }

                &.dropdown-toggle {
                    padding: 6.5px 11px 6px;
                }
            }

            &.dropdown-toggle {
                padding: 4.8px 10px;
            }
        }

        & + .btn-group {
            margin-right: 5px;
        }
    }

    .btn-group:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
.brands-table {
    clear: both;
    display: table;
    position: relative;
    border-spacing: 0 10px;
    border-collapse: separate;
    text-align: center;
    .loading {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        span {
            display: inline-block;
            background: black;
            @include border-radius(50px);
            @include animation(loader 0.9s infinite alternate);
            &:nth-of-type(2) {
                -webkit-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s;
            }
            &:nth-of-type(3) {
                -webkit-animation-delay: 0.6s;
                -moz-animation-delay: 0.6s;
            }
        }
    }

    @include keyframes(loader) {
        0% {
            width: 10px;
            height: 10px;
            opacity: 0.9;
            @include transform(translateY(0));
        }
        100% {
            width: 24px;
            height: 24px;
            opacity: 0.1;
            @include transform(translateY(-21px));
        }
    }

    a {
        display: inline-block;
        padding-top: 5px;
    }
    a.tooltipster:hover {
        font-weight: bold;
    }
    .cell, .caption {
        @include vertical-center;
    }

    .table-row {
        @include rounded-corners(10px);
        @include table-row-rounded-shadow(10px);
        .iterator {
            &.gold {
                @include ribbon($css-media-path + '/patterns/gold-stars.png', 150px, 150px, 6%, -37.5%, -10);
              @include tablet-landscape {
                @include ribbon($css-media-path + '/patterns/gold-stars.png', 150px, 150px, 6%, -45.5%, -10);
              }
              @include tablet-portrait {
                @include ribbon($css-media-path + '/patterns/gold-stars.png', 150px, 150px, 6%, -51.5%, -10);
              }
            }
            &.silver {
                @include ribbon($css-media-path + '/patterns/silver-stars.png', 150px, 150px, 6%, -37.5%, -10);
                @include tablet-landscape {
                  @include ribbon($css-media-path + '/patterns/silver-stars.png', 150px, 150px, 6%, -45.5%, -10);
                }
                @include tablet-portrait {
                  @include ribbon($css-media-path + '/patterns/silver-stars.png', 150px, 150px, 6%, -51.5%, -10);
                }
            }
            &.bronze {
                @include ribbon($css-media-path + '/patterns/bronze-stars.png', 150px, 150px, 6%, -37.5%, -10);
                @include tablet-landscape {
                  @include ribbon($css-media-path + '/patterns/bronze-stars.png', 150px, 150px, 6%, -45.5%, -10);
                }
                @include tablet-portrait {
                  @include ribbon($css-media-path + '/patterns/bronze-stars.png', 150px, 150px, 6%, -51.5%, -10);
              }
            }
        }

        .ribbon {
            @include ribbon($css-media-path + 'user-favorite-demo.png', 135px, 35px, 5%, -5%, 20);
        }

        .cell {
            @include border-thin($table-border-thin, $right: true);
        }
        &.first {
            padding-top: 10px;
        }
    }

    .logo {
        position: relative;
        border-right: 1px solid #ddd;
    }

    .rating {
        border-right: 1px solid $border-dark;
        .review-link {
            text-decoration: underline;
        }
    }

    .get-bonus {
        position: relative;
    }
    .table-row, .headers {
        display: table-row;
    }
    .headers {
        text-transform: uppercase;
        color: white;
        background-color: $color-active;

        .cell {
            padding: 15px;
            border: none;
        }
    }
}

.dynamic-list-table {
    margin-bottom: 50px;
    .open-sort {
        .dropdown-wrapper {
            margin-right: 165px;
        }
    }
    .open-sort {
        .dropdown-wrapper {
            margin-right: 165px;
        }
    }
    .tooltipster-content {
        p {
            color: #000000;
        }
    }
    .tooltipster {
        &:hover {
            cursor: pointer;
        }
    }
    .tooltipster-sidetip.tooltipster-custom .tooltipster-content {
        color: #000;
    }
    .table {
        margin-bottom: 0;
    }
    .default-button {
        cursor: pointer;
        margin: 20px 0;
    }
    .dynamic-list-filter {
        margin-top: 20px;
        .disclosure {
            color: #595959;
            font-size: $text-size-default;
            text-decoration: underline;
            padding: 5px 0;
            display: inline-block;
        }
        .sort-filter {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            @include clearfix();
            .dropdown-toggle {
                cursor: pointer;
                float: right;
                border: 1px solid rgba(162, 162, 162, 0.25);
                width: 150px;
                position: static;
                margin-right: 10px;
                @include clearfix();
                &:hover .arrow {
                    background-color: #f5c22a;
                    color: #fff;
                }
                &:first-child {
                    margin: 0;
                }
                .title {
                    color: #646464;
                    display: inline-block;
                    padding: 5px 10px;
                }
                .arrow {
                    padding: 5px 10px;
                    display: inline-block;
                    border-left: 1px solid rgba(162, 162, 162, 0.3);
                    float: right;
                    &:hover {
                        color: #fff;
                    }
                }
                &:hover .dropdown-wrapper {
                    &:hover .arrow {
                        color: #fff;
                    }
                }
                .dropdown-wrapper {
                    display: none;
                    padding-top: 10px;
                    position: absolute;
                    z-index: 999;
                    right: 13px;
                }
            }
            .dropdown {
                border: 1px solid #ccc;
                background: #fff;
                border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                overflow-y: auto;
                max-height: 200px;
                ul {
                    margin: 0;
                    padding: 15px;
                    list-style: none;
                    li {
                        .group-title {
                            font-weight: bold;
                            min-width: 250px;
                            @include clearfix();
                        }
                        ul {
                            padding: 5px;
                            li {
                                border-bottom: 1px solid #ccc;
                                padding: 5px 0;
                                white-space: nowrap;
                                i {
                                    color: #cccccc;
                                }
                                &:hover {
                                    i {
                                        color: #fff;
                                    }
                                }
                                &.active {
                                    i {
                                        color: #fff;
                                        &:before {
                                            content: "\e931";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .selected-filters {
            .filter {
                float: left;
                background: #f5f5f5;
                border: 1px solid #ccc;
                padding: 5px 10px;
                font-size: 0.9em;
                margin: 0 20px 10px 0;
                position: relative;
                .remove {
                    color: #fff;
                    background: #ff1e00;
                    border-radius: 100%;
                    font-size: 7px;
                    line-height: 7px;
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .brands-table {
        background-color: transparent;
        z-index: 10;
        color: $color-active;
        font-size: $text-size-small;
        width: 100%;
        margin-top: 1px;
        a {
            color: #222;
        }
        .table-row {
            background-color: white;
            .logo {
                background-color: #fff;
                a {
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .bonus {
                & > p {
                    margin-bottom: 0;
                }
                .tooltipster {
                    cursor: pointer;
                    text-decoration: underline;
                }
                .selling-line-2 {
                    font-size: $text-size-large;
                    font-weight: bold;
                }
            }
            .features {
                .list {
                    width: 70%;
                    margin: 0 auto;
                    padding: 0;
                    li {
                        list-style-type: none;
                        display: inline-block;
                        color: $text-secondary-color;
                        margin: 2px 2px 5px;
                        padding: 0 5px;
                        font-size: $text-size-small;
                        background-color: $filter-background-color;
                        @include border-thin($border-dark);
                        i {
                            color: black;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
    }
    [class^="icon-"] {
        &:hover {
            & ~ span.hover-tooltip:before {
                border: 5px solid #1e1e1e;
                transform: rotate(45deg);
            }
            & ~ span.hover-tooltip:after {
                font-weight: 300;
                min-width: 170px;
                left: -50px;
            }
        }
    }
}
.tooltipster-base {
    &.tooltipster-sidetip.tooltipster-custom.tooltipster-bottom.tooltipster-grow.tooltipster-show {
        //had to put important because the height is declared inline
        height: auto !important;
    }
}
.rating {
    .tp-rating {
        justify-content: center;
    }
    .review-link {
        padding: 0px 3px;
    }
    i:before {
        content: "\e914";
    }
    .active i:before {
        content: "\e915";
    }
    .half .stars:before {
        content: "\e917";
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .brands-table {
        .table-row {
            box-shadow: none;
            .cell {
                border: 1px solid rgba(172, 172, 172, 0.18);
            }
        }
    }
}
@supports (-ms-ime-align:auto) {
    .brands-table {
        .table-row {
            box-shadow: none;
            .cell {
                border: 1px solid rgba(172, 172, 172, 0.18);
            }
        }
    }
}
@supports (-ms-accelerator:auto) {
    .brands-table {
        .table-row {
            box-shadow: none;
            .cell {
                border: 1px solid rgba(172, 172, 172, 0.18);
            }
        }
    }
}
@media screen {
    .brands-table {
        .table-row {
            box-shadow: none;
            .cell {
                border: 1px solid rgba(172, 172, 172, 0.18);
            }
        }
    }
}
@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance:none) {
        .brands-table {
            .table-row {
                box-shadow: none;
                .cell {
                    border: 1px solid rgba(172, 172, 172, 0.18);
                }
            }
        }
    }
}
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
    .brands-table .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .brands-table .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .brands-table .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .brands-table .cell {
        border-top: 1px solid rgba(172, 172, 172, 0.18);
        border-bottom: 1px solid rgba(172, 172, 172, 0.18);
    }
}