.widget_filters.site-filters{
    .row:first-child {
        a {
            display: inline-block;
            @include no-underline;
            margin-right: 15px;
            color: #000;
            font-size: $text-size-x-small;
            padding: 4px 12px;
            font-weight: bold;
            @include border-thin($border-dark);
            @include radial-gradient(rgba(255, 255, 255, 1), rgba(228, 226, 226, 0.19));
        }
        
        .col-md-5 {
            color: $text-secondary-color;
            font-size: $text-size-default;
            
            .disclosure {
                text-decoration: underline;
                margin-right: 3px;
                padding: 5px 0;
            }
            
            .btn-group {
                margin-right: 10px;
                button {
                    background-color: #fff;
                    margin-right: -5px;
                    padding: 5px 75px 5px 5px;
                    text-transform: uppercase;
                    color: $text-secondary-color;
                    @include border-thin($border-dark);
                    
                    &.dropdown-toggle {
                        padding: 5px 10px;
                    }
                    
                    .caret {
                        color: $color-highlight;
                    }
                }
                
                & + .btn-group {
                    margin-right: 5px;
                }
            }
        }
    }
}