.widget_rating{
    .star-wrapper{
        color: #fc0;
        
        & > label:before{
            display:inline-block;
            content: '\f005';
        }
    }
}
.stars {
    display: block;
    color: $color-highlight;
    font-family: icomoon;
    font-style: normal;
}
.stars[data-rate_amount="1"] {
    &:before {
        content: $star + $empty-star + $empty-star + $empty-star + $empty-star;
    }
}
.stars[data-rate_amount="1.5"] {
    &:before {
        content: $star + $half-star + $empty-star + $empty-star + $empty-star;
    }
}
.stars[data-rate_amount="2"] {
    &:before {
        content: $star + $star + $empty-star + $empty-star + $empty-star;
    }
}
.stars[data-rate_amount="2.5"] {
    &:before {
        content: $star + $star + $half-star + $empty-star + $empty-star;
    }
}
.stars[data-rate_amount="3"] {
    &:before {
        content: $star + $star + $star + $empty-star + $empty-star;
    }
}
.stars[data-rate_amount="3.5"] {
    &:before {
        content: $star + $star + $star + $half-star + $empty-star;
    }
}
.stars[data-rate_amount="4"] {
    &:before {
        content: $star + $star + $star + $star + $empty-star;
    }
}
.stars[data-rate_amount="4.5"] {
    &:before {
        content: $star + $star + $star + $star + $half-star;
    }
}
.stars[data-rate_amount="5"] {
    &:before {
        content: $star + $star + $star + $star + $star;
    }
}
