.default-table {

  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
  @include box-shadow(0px, 8px, 17px, 2px, rgba(221, 221, 221, 1));

  tbody {
    tr {

      &:nth-child(2n) {
        background-color: #e2e2e2;
      }
      &:nth-child(2n+1) {
        background-color: #fff;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 2px 0;
      text-indent: -1.9em;
      padding-left: 20px;
    }
    li:before {
      content: "• ";
      font-size: $text-size-jumbo;
      line-height: 5px;
      vertical-align: middle;
      color: #b4b4b4;
    }
  }

  td {
    &:nth-child(2n) {
      font-weight: normal;
    }
    &:nth-child(2n+1) {
      font-weight: 600;
    }
  }

  td, th {
    border: none;
    padding: 20px 30px;
    vertical-align: middle;
  }

  td:nth-child(2n+1), th:nth-child(2n+1) {
    width: 15%;
  }

  th {
    text-transform: capitalize;
    color: #fff;
  }
  thead {
    background-color: #000;
    tr {
      border-bottom: 6px solid #e8e8e8;
    }
  }

  td {
    border-right: 1px solid #d6d6d6;

  }

  td:last-child {
    border: none;
  }

  &.text-center {
    td:nth-child(2n+1), th:nth-child(2n+1) {
      width: auto;
    }
    td:nth-child(2n+1) {
      font-weight: normal;
    }
    th {
      text-align: center;
    }
  }

  &.multi {
    td:nth-child(2n) {
      width: 35%;
    }
  }
}
.two-columns {
  tr:last-child td {
    padding-bottom: 30px;
  }
  width: 100%;
  width: 80%;
  max-width: 100%;
  margin: 30px 0 30px 10%;
  -webkit-box-shadow: 0px 8px 17px 2px #ddd;
  -moz-box-shadow: 0px 8px 17px 2px #ddd;
  box-shadow: 0px 8px 17px 2px #ddd;
  td {
    width: 50%;
    padding: 10px 30px 10px 60px;
    text-indent: -30px;
    &:before {
      content: "• ";
      font-size: 3.2em;
      line-height: 5px;
      vertical-align: middle;
      color: #b4b4b4;
    }
  }
  th {
    font-size: 40px;
    font-weight: normal;
    padding: 20px 30px 0;
    span {
      border-bottom: 1px solid #eee;
      display: inline-block;
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }
  }
}