/**
 * Please use this file for scss functions and vars.
 */

$default-color: #333;
$inactive-color: #999;
$accent-color: #fc0;
$title-color: #c00;
$link-color: #09a8e3;
$border-color: #ddd;


@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin animation ($name, $duration, $timing-function, $delay, $iteration-count) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $iteration-count;

  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $iteration-count;

  animation-duration: $duration;
  animation-name: $animation;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
}


