body {
    overflow-x: hidden;
}
.tab-content.hide-with-height .tab-pane {
    height: 0;
    display: block;
    overflow-x: hidden;
}
.tab-content.hide-with-height .tab-pane.active {
    height: auto;
}

#builder {
    position: relative;
}
#builder .hierarchy {
    top: 40px;
    right: 0;
    position: absolute;
    z-index: 9999;

    font-size: 10px;
    min-width: 250px;
    background: #ffffff;
}
#builder .hierarchy ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#builder .hierarchy ul li {
    padding: 5px;
    background: rgba(0, 0, 0, .05);
}
#builder .hierarchy .element {
    cursor: pointer;
}
#buider .hierarchy .element.hover > .title,
#buider .hierarchy .element:hover > .title {
    background: #00aaaa;
}
#builder .hierarchy table {
    font-size: inherit;
}
#builder .hierarchy .close-hierarchy {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #990000;
    z-index: 1;
    cursor: pointer;
}
#builder > .actions {
    top: 20px;
    left: 0;
    position: absolute;
    z-index: 1;
}
#builder .actions a, #builder .actions button {
    margin-right: 5px;
}
#builder .editor {
    width: 100%;
    margin: 30px 0 0 25px;
    background: url('../../img/bg-page-builder.png');
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    min-height: 100%;
}
.rulers .ruler-x {
    background: url(../../img/ruler-x.png) repeat-x;
    width: 10000px;
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1;
}
.rulers label {
    font-size: 8px;
    padding-top: 2px;
    display: inline-block;
    width: 96px;
    text-indent: 5px;
    position: relative;
    top: -7px;
}
.rulers .ruler-y {
    background: url(../../img/ruler-y.png) repeat-y;
    display: block;
    position: absolute;
    top: 25px;
    width: 50px;
    left: 10px;
    z-index: 1;
    overflow: hidden;
    height: 100%;
}
.rulers .ruler-y label {
    top: -100px;
    height: 100px;
    left: -41px;
    text-align: right;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}
.rulers #mouse-x-pos, .rulers #mouse-y-pos {
    background-color: red;
    position: absolute;
    z-index: 1;
}
.rulers #mouse-x-pos {
    width: 1px;
    height: 15px;
    top: 15px;
}
.rulers #mouse-y-pos {
    width: 15px;
    height: 1px;
    left: 10px;
}
#builder .canvas {
    z-index: 1;
    overflow: auto;
    -ms-overflow-style: none;
    position: relative;
}
#builder .canvas::-webkit-scrollbar {
    display: none;
}
#builder .toolbar {
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 10px;
}
#builder .editor .lock {
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, .05);
    text-align: center;
}
#builder .editor .empty {
    padding: 5px;
    font-size: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .1);
}

.gu-unselectable .builder-column {
    margin-top: 10px;
    margin-bottom: 10px;
}
#builder .editor .actions, .gu-mirror .actions {
    color: #fff;
    margin: 0 !important;
    padding: 5px;
    display: none;
    position: absolute;
    line-height: 1;
    background: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .5);
    font-size: 10px;
}
#builder .editor .actions .action, .gu-mirror .actions .action {
    cursor: pointer;
}
#builder .editor .actions .action.move {
    cursor: move;
}
#builder .editor .builder-row, #builder .editor .builder-column, #builder .editor .builder-widget {
    position: relative;
}
#builder .editor .builder-row:after,
#builder .editor .builder-column:after,
#builder .editor .builder-widget:after {
    content: "";
    display: table;
    clear: both;
}
#builder .editor .builder-row:hover,
#builder .editor .builder-row.hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
#builder .editor .builder-row:hover > .actions,
#builder .editor .builder-row.hover > .actions {
    top: 0;
    z-index: 9999;
    display: block;
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
}
#builder .editor .builder-column:hover,
#builder .editor .builder-column.hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
#builder .editor .builder-column:hover > .actions,
#builder .editor .builder-column.hover > .actions {
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
}
#builder .editor .builder-widget:hover > .actions,
#builder .editor .builder-widget.hover > .actions {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    color: #000000;
    z-index: 999;
    display: block;
    background: rgba(255, 255, 255, .75);
    text-align: center;
}
#builder .editor .builder-widget:hover > .actions .action,
#builder .editor .builder-widget.hover > .actions .action {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
#builder .builder-widget.gu-transit,
#builder .builder-row.gu-transit {
    height: 30px !important;
    overflow: hidden !important;
    border: 1px solid #aba5a5;
    border-radius: 4px;
    background-color: rgba(237, 224, 224, 1);
}

#builder .builder-widget.gu-transit .data-html,
#builder .builder-row.gu-transit > .row {
    display: none;
}

#builder .hide-widget-html .builder-widget.gu-transit,
#builder .hide-widget-html .builder-row.gu-transit {
    height: 10px !important;
}

.builder-widget.gu-mirror,
.builder-row.gu-mirror {
    height: 26px !important;
    /*width: 200px !important;*/
    position: absolute;
    overflow: hidden;
    border: 1px solid #aba5a5;
    border-radius: 4px;
    background-color: rgba(237, 224, 224, 1);
}

.builder-widget.gu-mirror .data-html,
.builder-row.gu-mirror > .row {
    display: none !important;
}

/* Bootstrap 2.3.5 submenu fix */
.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #ccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}
.dropdown-menu > li > a {
    display: block;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999;
}
/** add support to select2 **/
.select2-container--bootstrap .select2-search--dropdown .select2-search__field,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 3px;
}
.select2-container--bootstrap .select2-results__group {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.select2-container--bootstrap .select2-selection {
    font-family: "Open Sans", sans-serif;
}
.select2-dropdown {
    z-index: 10060;
}
.select2-close-mask {
    z-index: 10055;
}

/* HIDE WIDGET HTML */
.canvas.hide-widget-html .data-html .widget-wrapper {
    display: none;
}
.canvas.hide-widget-html .data-html {
    background: rgba(80,80,80,.3);
    height: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow: hidden !important;
}
.canvas.hide-widget-html .data-html::before {
    content: attr(data-widget-name);
    border: 1px solid #aba5a5;
    border-radius: 4px;
    width: 98%;
    height: 80%;
    display: inline-block;
    margin-top: 3px;
    background-color: rgba(237, 224, 224, 0.5);
    line-height: 22px;
    color: #686161;
}
.canvas.hide-widget-html .builder-row .row {
    height: initial;
}
/* END HIDE WIDGET HTML */


/* BREAD CRUMBS */
.breadcrumbs-bar ul {
    display: inline-block;
    margin: 0;
    list-style: none;
}
.breadcrumbs-bar ul li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
.breadcrumbs-bar ul li i, .breadcrumbs-bar ul li a, .breadcrumbs-bar ul li span {
    color: #888;
    font-size: 14px;
    text-shadow: none;
}
.breadcrumbs-bar ul li i {
    width: 1.25em;
    text-align: center;
}
.breadcrumbs-bar ul li:last-child i {
    display: none;
}
/* END BREAD CRUMBS */


/* MODALS */
.btn.fill-column {
    width: 100%;
}

/* MODAL TABS */
ul.nav.nav-tabs {
    margin-bottom: 15px;
}
.modal hr {
    border-top: 1px solid #e5e5e5;
}
.modal-header .expand-modal {
    display: none;
}
/* END MODAL TABS */

/* END MODALS */