
.main_header{
    width: 100%;
    text-align: center;
    padding-right: 230px;
}
.select_box{
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}
.table-out{
    /*height: 700px;*/
    /*width: 1100px;*/
}
.table-in{
    /*width: 1700px;*/
    height:60vh;
    overflow: scroll;
}
.pages-bar{
    padding-top: 30px;
    margin-left: 35%;
}
.search-query{
    padding-top: 10px;
    float: right;
}
.text-bold{
    font-weight: bold
}
.outer{
    width:100%;
    text-align: center;
}
.inline-block-display{
    display: inline-block;
}
.float-right{
    float:right;
}
#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    background-clip: content-box;
    z-index: 20;
}

.modal-content{
    top: 80px;
}
.nomargin{
    margin-bottom: 0px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.total_results {
    border: 1px solid ;
    background: dodgerblue;
    color:white;
    font-weight: 500;
    border-radius: 5px;
    padding:8px 16px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.selected{
    background-color: #4096cf;
    color: white;
}
.select-css {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

th{
    text-align: center;
    /*overflow: hidden;*/
    word-wrap: break-word;

}
td{
    overflow: hidden;
}
td:hover{
    overflow: visible;
    border: 1px solid #000000;
    word-wrap: break-word;
}
/* ----------------------------------------------------*/
.box {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.box select {
    /*background-color: cornflowerblue;*/
    background-color: cadetblue;
    color: white;
    padding: 2px;
    /*width: 250px;*/
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.box::before {
    content: "\f13a";
    /*font-family: FontAwesome;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    /*font-size: 28px;*/
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;


    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
    text-align-last:center;
    color: white;
    line-height: 1.1;
    padding: 1em 1.4em 1em 1em;
    /*padding: .6em 1.4em .5em .8em;*/
    width: 30%;
    max-width: 50%; /* useful when width is set to
        /*position: relative;*/
    /*font-family: Arial;*/
    /*border-color: #0c91e5;*/
    border-radius:10px;
    border:1px solid #0c91e5;
    background: #2e78d4;

}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}
/* ----------------------------------------------------*/
/* Temp*/
button .form-btn{
    color: white;
    border-radius: 4px;
}
button .form-btn:hover{
    background: dimgrey;
}
.form-bg{
    background: #e4e6e6;
}
form{
    font-family: 'Roboto', sans-serif;
}
.form-horizontal .header{
    background: #3f9cb5;
    padding: 30px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}
.form-horizontal .heading{
    font-size: 18px;
    font-weight: 600;
    color: #3f9cb5;
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}
.form-horizontal .form-content{
    /*padding: 25px;*/
    background: #fff;
}
.form-horizontal .form-control{
    /*padding: 12px 16px 12px 39px;*/
    /*height: 50px;*/
    font-size: 15px;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    /*margin-bottom: 15px;*/
}
.form-horizontal .form-control:focus{
    border-color: #3f9cb5;
    box-shadow: none;
}
.form-horizontal .control-label{
    font-size: 17px;
    /*color: dimgrey;*/
    color: #224070;
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 27px;*/
    text-align: center;
}
.form-horizontal textarea.form-control{
    resize: vertical;
    height: 130px;
}
.form-horizontal .btn{
    font-size: 18px;
    color: #4e4e4e;
    float: right;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 10px 25px;
    transition: all 0.5s ease 0s;
}
.form-horizontal .btn:hover{
    background: #fff;
    border-color: #3f9cb5;
}
/* Temp*/
/*   ------------------------------------------*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:6px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
    height: 398px;
    overflow: auto;
    cursor:pointer;
    margin-top: 34px;
}

/*.dropdown-content input {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    overflow: auto;*/

/*}*/

.dropdown-content div:hover {
    /*background-color: #4096cf;*/
    background-color: #0a6aa1;
    color: white;
    /*padding: 10px;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*   ------------------------------------------*/
body {
    padding: 15px;
}

.select-checkbox option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}
.select-checkbox option:checked::before {
    content: "\2611";
}

.select-checkbox-fa option::before {
    font-family: FontAwesome;
    content: "\f096";
    width: 1.3em;
    display: inline-block;
    margin-left: 2px;
}
.select-checkbox-fa option:checked::before {
    content: "\f046";
}
/*   ------------------------------------------*/

/*tbody {*/
/*    display:block;*/
/*    !*height:800px;*!*/
/*    height: 60vh;*/
/*    overflow:auto;*/
/*    overflow-x: scroll;*/

/*}*/
/*thead, tbody tr {*/
/*    display:table;*/
/*    width:100%;*/
/*    table-layout:fixed;!* even columns width , fix width of table too*!*/
tr:hover{
    background: #F0F8FF;
}
.table-striped>tbody>tr:nth-of-type(odd):hover{
    background: #F0F8FF;
}

table thead tr:nth-child(1) th{
    /*background: white;*/
    background: #e0ebf9;
    position: sticky;
    padding-top: 10px;
    top: -5px;
    z-index: 10;
}

.select_date{
    /*display: block;*/
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    text-align-last:center;
    color: white;
    line-height: 1.1;
    padding: .6em 1.4em .5em .8em;
    width: 16%;
    max-width: 50%; /* useful when width is set to
        /*position: relative;*/
    /*font-family: Arial;*/
    /*border-color: #0c91e5;*/
    border-radius:6px;
    border:1px solid #0c91e5;
    background: #2e78d4;

}
.select_date option{
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


/*thead {*/
/*    width: calc( 100% - 1em )!* scrollbar is average 1em/16px width, remove it from thead width *!*/
/*}*/
/*table {*/
/*    width:400px;*/
/*}*/


.loader {
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

