/* FORM */
.tb-actions-duplicate-group {
  a {
    &.btn {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.form-group {
  &.form-md-line-input {
    .help-block.error {
      opacity: 1;
    }
  }
}

.form-inline > .form-group {
  margin: 0 15px 20px 0 !important;
}

/* Select2 */
.select2 {
  &.select2-container {
    width: 100% !important;

    .select2-selection--multiple {
      /*max-height: 32px;*/
      /*overflow: hidden;*/
    }

    .select2-selection--single {
      height: 39px;

      .select2-selection__rendered {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}
.select2-selection__choice {
  white-space: pre-wrap;
  max-width: 95%;
}

/* Invisible forms */
form.form-invisible {
  display: inline-block;

  button[type="submit"] {
    display: inline-block;
    background: none;
    border: none;
  }
}

/* Upload input */
input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* checkbox */
.checkbox-list {
  display: inline-block;
}

.toggle_checkbox {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[data-toggle_state="checked"]::before {
    content: "\e067";
  }
  &::before {
    content: "\e157";
  }
}

.label-align-left {
  padding-left: 0;
  padding-top: 10px !important;
  text-align: left !important;
}
.full-width {
  width: 95%;
}

/*** image-upload component ***/

.image-upload {
  position: relative;
  width: 266px;
  height: 196px;
  padding: 0px 0px 30px 0px;
  border: 1px solid  #C0C0C0;
}

/* span helper use for vertical aligh */
.image-upload-img-wrapper span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.image-upload img {
  display: inline-block;
  max-width: 250px;
  max-height: 150px;
  margin: 0 auto;
  vertical-align: middle;
}


.image-upload-img-wrapper {
  width: 266px;
  height: 150px;
  text-align: center;
}

.image-upload-footer,
.image-upload-header {
  background-color: #F0F0F0;
  color: #333;
  height: 22px;
  width: 100%;
  padding-top: 2px;
}

.image-upload-header {
  padding-left: 5px;
  overflow: hidden;
}

.image-upload .iu-footer-height {
  float: left;
  padding-left: 10px;
}

.image-upload .iu-footer-size {
  float: right;
  padding-right: 10px;
}

.image-upload .image-upload-toolbar {
  display: none;
}

.image-upload:hover .image-upload-toolbar {
  position: absolute;
  top: 28px;
  right: 15px;
  display: block;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*** end image-upload component ***/

/* eliminate conflict between  minicolors and components-rounded.css */
.form-group.form-md-line-input .form-control.minicolors-input {
  padding-left: 44px;
}
