.icon-trash {
  color: #337ab7;
}
.icon-trash-color {
  color:#666;
}

/* State Icons */
.warning-icon {
  color: #ffa707;
  font-size: 1.5em;
}
.notice-icon {
  color: #4ace17;
  font-size: 1.5em;
}
.error-icon {
  font-size: 1.5em;
  color: #ff2c2c;
}
.info-icon {
  color: #b7b7ff;
  font-size: 1.5em;
}
.debug-icon {
  color: grey;
  font-size: 1.5em;
}