//Layout & Typography
body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.page-content {
  overflow-y: scroll;
}

/*turn on the ability to scroll on mobile*/
@media only screen and (max-width: 767px) {
  .dropdown-menu {
    .dropdown-menu-list {
      overflow: scroll !important;
    }
  }

  .page-content-wrapper {
    .page-content {
      overflow: scroll;
    }
  }
}

/* Typography */
span.extra-info {
  display: block;
  color: #B4B8BB;
  font-size: 11px;
}

span.extra-info {
  b {
    min-width: 30px;
    display: inline-block;
    font-weight: 500;
  }
}

/* Header */
.page-header.navbar {
  .page-logo {
    .logo-default {
      margin-top: 8px;
    }
  }
  .top-menu {
    .dropdown > .dropdown-toggle > span {
      color: #c6cfda;
    }
    float: none;
  }
  .menu-toggler {
    background-image: url(/assets/global/layout/img/sidebar_toggler_icon_darkblue.png);
  }
}

/* Footer */
.page-footer {
  position: fixed;
  bottom: 0;
  background-color: #364150;
}

/* Sections*/
section {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #F9F9F9;
  border-radius: 6px;
  margin-bottom: 10px;

  h4 {
    padding-left: 20px;
  }

  .section-header {
    margin: 8px 15px;
    height: 43px;
    border-bottom: 1px solid #eef1f5;
    cursor: pointer;
  }

  .actions {
    float: right;
  }

  .caption {
    float: left;
    height: 100%;
    display: table;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .section-body {
    overflow: hidden;
    max-height: 500px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.collapsed {
    .section-body {
      max-height: 0;
    }
  }
}

/* Plugins */
.blockUI {
  z-index: 10060 !important;
}

/* Bootstrap 2.3.5 submenu support */
.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-site span {
  font-size: 100%;
  font-weight: normal;
}

.dropdown-menu > li > a {
  display: block;
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }
}

.dropdown-submenu {
  &:hover > a, &:focus > a {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }
  &:hover > .dropdown-menu {
    display: block;
  }
  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  position: relative;
}

.dropdown-menu > .disabled > a {
  color: #999;
  &:hover, &:focus {
    color: #999;
  }
  &:hover, &:focus {
    text-decoration: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
  color: #999;
  &:hover, &:focus {
    color: #999;
  }
}

@media (min-width: 992px) {
  .page-content-wrapper{
    .page-content{
      min-height: 100vh;
      padding-bottom: 40px;
    }
  }

  /* Navigation */
  .page-sidebar-menu {
    min-height: 100vh;
    &.page-sidebar-menu-hover-submenu {
      li {
        .sub-menu {
          width: 250px;
        }
      }
    }
  }
}