/* Modal */
.modal-dialog{
  button{
    &.expand-modal {
      float: right;
      margin-right: 10px;
      background: initial;
      border: none;
      opacity: 0.2;
      font-size: 13px;
      color: black;
      padding-top: 0;
      margin-top: -4px;
      &:hover{
        opacity: 0.4;
      }
    }
  }

  &.full-width {
    width: 95%;
  }
}

.modal-info p {
  text-align: left;
}

.modal-info ul li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    width: 950px;
  }
}