/* Nestable collapse */
.disclose {
  cursor: pointer;
  width: 20px;
  display: none;
}

.mjs-nestedSortable-collapsed > ol {
  display: none;
}

.mjs-nestedSortable-branch > div > .disclose {
  display: inline-block;
}
/* End nestable collapse */