.paging_bootstrap_extended {
  margin: 0 !important;
}

.pagination-panel{
  margin-right: 5px;

  &:after{
    content: "";
    border-right: 1px solid #333;
  }
}

.pagination-panel-total {
  padding-right: 5px;
  line-height: 1.2;
}

@media only screen and (max-width: 767px) {

  .dataTables_wrapper{
    .dataTables_paginate.paging_bootstrap_extended{
      float: none !important;
    }
  }

  .pagination-panel:after {
    border-right:none;
  }

  .pagination-panel {
    margin-bottom: 15px;
  }
}