/* Portlet Nav */
.portlet-nav {
  position: relative;
  .content {
    width: 90%;
    position: absolute;
    left: 40px;
    margin-top: 10px;
    padding: 20px;
    min-height: 100px;
    background: #eee;
    z-index: 100;
    display: none;
    outline:0;

    .form-group{
      &:not(:first-child){
        label {
          display:none;
        }
        .tb-actions-duplicate-group {
          padding-top: initial;
        }
      }
    }
  }

  ul {
    display: flex;
    padding: 0px;
  }

  li.nav-item{
    list-style: none;
    flex: 1;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;

    a{
      &.label{
        color: #888;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        position: relative;

        &:hover{
          text-decoration: none;
          color: #888;
        }
      }
    }
    &:hover {
      background-color: #ccc8c8;
    }

    &.open{
      background-color: #d8d6d6;

      a{
        &.label{
          color: #888;
          display: inline-block;
          width: 100%;
          height: 100%;
          line-height: 40px;
          position: relative;

          &:hover{
            text-decoration: none;
            color: #888;
          }

          &::after{
            content: " ";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #eee;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: -26px;
            left: 60px;
          }
        }
      }
      .content{
        display: block;
      }
    }
  }
}