.portlet {
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;

    &::after {
      border-bottom: 1px solid #eee;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      width: 95%;
      z-index: -1;
    }

    span{
      background: white;
      padding: 0 15px;
    }
  }

  &.light{
    margin-top: 11px;
    .portlet-body{
      /* Activates error for help blocks */
      .actions {
        margin-bottom: 20px;
      }
    }
  }
}