#post_revisions{
  padding-top: 10px;
}
#post_revisions #visualization{
  padding-top: 10px;
}
#post_revisions .diff{
  border-bottom: 2px solid #e7ecf1;
  margin-top: 10px;
  margin-bottom: 5px;
}
#post_revisions .diff:last-child{
  border-bottom: none;
}
#post_revisions .diff .alert.alert-warning{
  margin-top: 20px;
}
#post_revisions .attribute-key{
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  background: #e7ecf1;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 5px;
}
#post_revisions .diff strong{
  display: block;
  margin-bottom: 10px;
}
#post_revisions .diff span{
  color :#fff;
  padding: 7px;
  display: inline;
  line-height: 33px;
}
#post_revisions .diff span.no-change{
  background: #eee;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  opacity:0.5;
  cursor: default;
}
#post_revisions .diff span.no-change:hover{
  opacity:1;
}
#post_revisions .diff .change-row{
  padding: 20px;
}
#post_revisions .diff .key{
  font-weight: bold;
  padding-bottom: 15px;
}
#post_revisions .diff .change-row .removed{
  background: #F44336;
}
#post_revisions .diff .change-row .added{
  background: #4CAF50;
}
#post_revisions .vis-item .vis-item-content{
  cursor: pointer;
}
#post_revisions .animate{
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
#post_revisions .profile-icon{
  width: 25px;
  border-radius: 50%;
}

#quick_links ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#quick_links ul li{
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

#quick_links ul li:last-child{
  border-bottom:none;
}

#quick_links ul li span.label{
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}

/** Min height for empty lists. **/
#order-tab .nestable-lists .dd-list{
  min-height: 35px;
}