#scss-editor-page{
  padding-top: 20px;

  .btn-add-new {
    display: block;
    margin-bottom: 10px;
  }

  .form-group{
    margin-bottom:40px;
  }

  ul.files-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #e1e1e1;
      a{
        width: 100%;
        text-decoration: none;
        display: inline-block;
      }
    }
    li:hover{
      background: #eee;
    }
    li.active{
      background: #e1e1e1;
    }
  }
}

#site-settings-portlet{
  .form-group{
    margin-bottom:40px;
  }
}

.general-settings{
  padding-bottom: 55px;
  .icon{
    font-size: 30px;
  }
  textarea{
    font-family: monospace;
  }
  .portlet-title{
    font-weight:800;
    font-size: 15px;
    padding-bottom: 10px;
  }
}

#querySettings{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom:15px;
  border: none;
}

#empty-state {
  ul {
    list-style-type: none;
    li {
      padding: 10px;
      margin-right: 10px;
      display: inline-block;
      color: #00A0D1;
      cursor: pointer;
    }
  }
}

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}