/* TP Table */
.tp-table {
  display: table;
}

.tp-table-row {
  display: table-row;
}

.tp-table-cell {
  display: table-cell;
  border: 1px solid #ccc6c6;
  padding: 3px;
}

/* Datatable */
.table-checkable {
  tbody {
    tr {
      th:first-child, td:first-child {
        text-align: initial;
        max-width: inherit;
        min-width: inherit;
      }
    }
  }
}

.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button, .paginate_button.disabled, .paginate_button.disabled:hover {
      padding: 0;
      margin: 0px;
      border: none;
      background: none;
    }

    &.paging_bootstrap_extended {
      float: left !important;
      font-size: 14px;
    }
  }
  .dataTables_info {
    clear: none;
    padding-top:6px;
    padding-left: 5px;
    line-height: 1.2;
  }
  .dataTables_processing {
    z-index: 1;
  }
}

table {
  &.dataTable {
    &[data-column-defs] {
      table-layout: fixed;
      word-wrap: break-word;
    }
    thead {
      .sorting_asc:after, .sorting_desc:after, .sorting:after {
        content: "";
      }
    }
    tfoot {
      th, td {
        padding: 0px;
      }

      .select2-container {
        .select2-selection--single {
          border: none;
        }
      }
    }
    &.order-column, &.display {
      tbody {
        tr {
          .sorting_1, .sorting_2, .sorting_3 {
            background-color: inherit;
          }
        }
      }
    }
    &[data-field_order] thead th:first-child {
      width: 5% !important;
    }
    &[data-field_order] tr td:first-child {
      cursor: all-scroll;
      padding-left: 5px;

      &:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0c9";
        float: left;
        margin-right: 10px;
        margin-top: 3px;
        color: #ddd;
      }
    }

    tbody, tfoot, thead {
      th, td {
        vertical-align: middle;
        padding: 4px 10px;
      }
    }
  }

  p {
    margin: 0;
  }
}

/* Datatable Filter */
label.col-md-12.control-label {
  text-align: left;
}

.sites-show a, .sites-index a {

  &:hover {
    text-decoration: none;
  }
}

.dataTables_wrapper.x-scrollable {
  height: 65vh;
  overflow: auto;
  width: 100%;
}

.data-table td img.table-image {
  max-width: 200px;
  max-height: 140px;
}
