.diff {
  z-index: 10;
  .diff-blade-wrapper {
    max-height: 300px;
    overflow: scroll;
    z-index: 10;
  }
  span {
    color: #fff;
    padding: 7px;
    display: inline;
    line-height: 33px;
    &.added {
      background: #4CAF50;
    }
    &.removed {
      background: #F44336;
    }
    &.no-change {
      background: #eee;
      color: #000;
      padding: 5px;
      border-radius: 5px;
      opacity: 0.5;
      cursor: default;
      &:hover {
        opacity: 1;
        color: black;
      }
    }
  }
  [class$='wrapper'] {
    &.no-side-padding {
      padding-left: 0;
      padding-right: 0;
    }
    &.padding-bottom-twenty {
      padding-bottom: 20px;
    }
  }
  a.replaceText {
    z-index: 10;
    position: relative;
    margin: 20px auto;
  }
  a.ignoreValidation {
    margin-left: 15px;
  }
}