/**
 * Please use this file for scss functions and vars.
 */

$green-icon: #5ace59;
$red-icon: #ff3636;

@mixin after-line($width, $type, $color, $section: null) {
  @if ($section) {
    border-#{$section}: $width $type $color;
  } @else {
    border: $width $type $color;
  }
}
@mixin after-line-section($width, $align, $margin, $color: $color-active, $border: bottom) {
  width: $width;
  text-align: $align;
  content: '';
  margin: $margin;
  display: block;
  @if ($border) {
    @include after-line(1px, solid, $color, $border);
  } @else {
    @include after-line(1px, solid, $color);
  }
}

