[class^="icon-"] {
    & ~ span.hover-tooltip{
        position:relative;
        &:after{
            opacity: 0;
            font-weight: 900;
            position:absolute;
            width:0;
            height:0;
            background: #1e1e1e;
            margin-top:-7px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-weight:bold;
            font-size: 14px;
            line-height: 2.0;
            color:white;
            @include transform(translateY(-60px) translateX(-35px) rotate(0));
        }
        
        &:before{
            opacity:0;
            height:0;
            position: absolute;
            left: -7px;
            margin-top: -37px;
            width:0;
            @include transform(translateY(-50%) rotate(45deg));
            @include add-transition(opacity, 0.5s, ease-in);
        }
        
        &:not(:hover):before{
            transition: none;
        }
    }
    
    &:hover{
        & ~ span.hover-tooltip:before, & ~ span.hover-tooltip:after{
            opacity: 1;
        }
        & ~ span.hover-tooltip:after{
            padding: 5px;
          min-width: 170px;
            transition:none;
            height:36px;
            content: attr(title);
        }
    
        & ~ span.hover-tooltip:before{
            background: #1e1e1e;
            border:7px solid #1e1e1e;
            content:" ";
        }
    }
}

.tooltip_templates {
    display: none;
}