//responsive screen sizes
@mixin desktop { //large desktops and laptops (max-width: 1200px)
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin tablet-landscape { //landscape tablets and medium desktops (min-width: 992px, max-width: 1199px)
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin tablet-portrait { //portrait tablets and small desktops (min-width: 768px, max-width: 991px)
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}){
    @content;
  }
}

@mixin mobile-landscape { //landscape phones and portrait tablets (max-width: 767px)
  @media (max-width: #{$screen-xs-max}){
    @content;
  }
}

@mixin mobile-portrait { //portrait phones and smaller (max-width: 480px)
  @media (max-width: #{$screen-xs-min}){
    @content;
  }
}
//end responsive screen sizes mixin


@mixin radial-gradient($from, $to) {
  background: -moz-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -o-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: -ms-radial-gradient(center, ellipse cover, $from 0%, $to 100%);
  background: radial-gradient(center, ellipse at center, $from 0%, $to 100%);
  background-color: $from;
}

//top or bottom border of 1px
@mixin border-thin($color, $top:false, $left:false,  $bottom:false, $right:false) {
  @if $right {
    border-right: 1px solid $color;
  } @else if $left {
    border-left: 1px solid $color;
  } @else if $top {
    border-top: 1px solid $color;
  } @else if $bottom {
    border-bottom: 1px solid $color;
  } @else {
    border: 1px solid $color;
  }
}

//useful for links
@mixin no-underline() {
  text-decoration: none;
}

@mixin vertical-center {
  display: table-cell;
  vertical-align: middle;
}

@mixin ribbon($background-url, $width, $height, $top, $left, $z-index) {
  background: url($background-url) no-repeat;
  width: $width;
  height: $height;
  position: absolute;
  top: $top;
  left: $left;
  z-index: $z-index;
}

@mixin text-shadow {
  font-size: 8em;
  text-align: center;
  opacity: 0.05;
  font-weight: bold;
  margin-top: -130px;
}

//top or bottom border of specified length
@mixin border-varied-length($color, $width, $left, $height, $location-top:false) {
  &:after {
    position: absolute;
    content: "";
    background: $color;
    width: $width;
    left: $left;
    height: $height;
    bottom: 0;
    @if $location-top {
      top: -2px;
    }
  }
}

//input placeholders' color
@mixin placeholder-color ($color){
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
}

@mixin table-row-rounded-shadow($radius) {
  & > .cell:first-child {
    border-top-left-radius: $radius;
    @include border-thin($border-color-medium, $left:true);
  }

  & > .cell:last-child {
    border-top-right-radius: $radius;
    @include border-thin($border-color-medium, $right:true);
  }

  & > .cell:first-child {
    border-bottom-left-radius: $radius;
  }

  & > .cell:last-child {
    border-bottom-right-radius: $radius;
  }
}

@mixin flex {
  display: -webkit-flex; /* Safari */
  display: flex;
}

@mixin box-shadow($vertical-length, $horizontal-length, $blur-radius, $spread-radius, $color) {
  -webkit-box-shadow: $vertical-length $horizontal-length $blur-radius $spread-radius $color;
  -moz-box-shadow: $vertical-length $horizontal-length $blur-radius $spread-radius $color;
  box-shadow: $vertical-length $horizontal-length $blur-radius $spread-radius $color;
}

@mixin add-transition($property, $duration, $effect) {
  -webkit-transition: $property $duration $effect;
  -moz-transition: $property $duration $effect;
  -ms-transition: $property $duration $effect;
  -o-transition: $property $duration $effect;
  transition: $property $duration $effect;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// Playright
@mixin action-button($image: 'button.png') {
  background: url($css-media-path + $image) top left;
  padding: 15px 20px;
  margin: 20px 0 0;
  display: inline-block;
  color: #724e0e;
  border: 0;
  min-width: 200px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}