//icon-color
$green-icon: #5ace59;
$red-icon: #ff3636;


//font sizes
$text-size-default: 1em; //14px
$text-size-x-small: $text-size-default * 0.9; //12.6px
$text-size-x-small-2: $text-size-default * 1.14; //16px
$text-size-small: $text-size-default * 1.2; //16.8px
$text-size-medium: $text-size-default * 1.5; //21px
$text-size-large: $text-size-default * 1.8; //25.2px
$text-size-x-large: $text-size-default * 2; //28px
$text-size-jumbo: $text-size-default * 3.2; //44.8px
$text-size-shadow: $text-size-default * 8; //112px

//text colors
$color-active: #222;
$color-highlight: #f5c22a;
$text-color-inactive: #acacac;
$text-secondary-color: #6b6b6b;
$text-shadow-color: #888888;
$sections-menu-active-color: #c1c1c1;

//border, button and other colors
$border-color-medium: #ddd;
$border-color-light: lighten($border-color-medium, 50%);
$border-dark: lightgray;
$bottom-border-color: #647593;
$box-shadow-color: #c3bfbf;
$table-border-thin: rgba(172, 172, 172, 0.18);

$button-text-color-default : #724e0e;
$button-text-color-secondary : #2e6513;
$checkbox-checked-color: #5ecf5d;
$filter-background-color: #f4f4f4;
$footer-menu-underline-color: rgba(134, 134, 134, 0.88);
$placeholder-color: #ccc;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;