/*
TrafficPoint CMS theme

All CMS theme files should be imported into this file,
ordered by their synchronous loading sequence
*/
body, html {
  overflow-x: hidden;
    overflow-y: hidden;
}

.page-content {
    overflow-y: scroll;
}

/*turn on the ability to scroll on mobile*/
@media only screen and (max-width: 767px) {
  .dropdown-menu .dropdown-menu-list {
      overflow: scroll !important;
  }
  .page-content-wrapper .page-content {
      overflow: scroll;
  }
}

/* Typography */
span.extra-info {
  display: block;
  color: #B4B8BB;
    font-size: 11px;
}

span.extra-info b {
  min-width: 30px;
  display: inline-block;
    font-weight: 500;
}

/* Header */
.page-header.navbar .page-logo .logo-default {
    margin-top: 8px;
}

.page-header.navbar .top-menu {
    float: none;
}

.page-header.navbar .top-menu .dropdown > .dropdown-toggle > span {
    color: #c6cfda;
}

.page-header.navbar .menu-toggler {
    background-image: url(/assets/global/layout/img/sidebar_toggler_icon_darkblue.png);
}

/* Footer */
.page-footer {
  position: fixed;
  bottom: 0;
    background-color: #364150;
}

/* Sections*/
section {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #F9F9F9;
  border-radius: 6px;
    margin-bottom: 10px;
}

section h4 {
    padding-left: 20px;
}

section .section-header {
    margin: 8px 15px;
    height: 43px;
    border-bottom: 1px solid #eef1f5;
    cursor: pointer;
}

section .actions {
    float: right;
}

section .caption {
    float: left;
    height: 100%;
    display: table;
}

section .caption span {
    display: table-cell;
    vertical-align: middle;
}

section .section-body {
    overflow: hidden;
    max-height: 500px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

section.collapsed .section-body {
    max-height: 0;
}

/* Plugins */
.blockUI {
    z-index: 10060 !important;
}

/* Bootstrap 2.3.5 submenu support */
.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
    content: " ";
}

.dropdown-site span {
  font-size: 100%;
    font-weight: normal;
}

.dropdown-menu > li > a {
    display: block;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-menu > .disabled > a {
  color: #999;
    color: #999;
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999;
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999;
}

@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    min-height: 100vh;
      padding-bottom: 40px;
  }
  /* Navigation */
  .page-sidebar-menu {
      min-height: 100vh;
  }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
        width: 250px;
    }
}

.portlet h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
    z-index: 1;
}

.portlet h4::after {
    border-bottom: 1px solid #eee;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
}

.portlet h4 span {
    background: white;
    padding: 0 15px;
}

.portlet.light {
    margin-top: 11px;
}

.portlet.light .portlet-body {
    /* Activates error for help blocks */
}

.portlet.light .portlet-body .actions {
    margin-bottom: 20px;
}

/* Portlet Nav */
.portlet-nav {
    position: relative;
}

.portlet-nav .content {
    width: 90%;
    position: absolute;
    left: 40px;
    margin-top: 10px;
    padding: 20px;
    min-height: 100px;
    background: #eee;
    z-index: 100;
    display: none;
    outline: 0;
}

.portlet-nav .content .form-group:not(:first-child) label {
    display: none;
}

.portlet-nav .content .form-group:not(:first-child) .tb-actions-duplicate-group {
    padding-top: initial;
}

.portlet-nav ul {
    display: flex;
    padding: 0px;
}

.portlet-nav li.nav-item {
    list-style: none;
    flex: 1;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.portlet-nav li.nav-item a.label {
    color: #888;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
}

.portlet-nav li.nav-item a.label:hover {
    text-decoration: none;
    color: #888;
}

.portlet-nav li.nav-item:hover {
    background-color: #ccc8c8;
}

.portlet-nav li.nav-item.open {
    background-color: #d8d6d6;
}

.portlet-nav li.nav-item.open a.label {
    color: #888;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
}

.portlet-nav li.nav-item.open a.label:hover {
    text-decoration: none;
    color: #888;
}

.portlet-nav li.nav-item.open a.label::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #eee;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: -26px;
    left: 60px;
}

.portlet-nav li.nav-item.open .content {
    display: block;
}

.icon-trash {
    color: #337ab7;
}

.icon-trash-color {
    color: #666;
}

/* State Icons */
.warning-icon {
  color: #ffa707;
    font-size: 1.5em;
}

.notice-icon {
  color: #4ace17;
    font-size: 1.5em;
}

.error-icon {
  font-size: 1.5em;
    color: #ff2c2c;
}

.info-icon {
  color: #b7b7ff;
    font-size: 1.5em;
}

.debug-icon {
  color: grey;
    font-size: 1.5em;
}

/* FORM */
.tb-actions-duplicate-group a.btn {
  padding-left: 5px;
    padding-right: 5px;
}

.form-group.form-md-line-input .help-block.error {
    opacity: 1;
}

.form-inline > .form-group {
    margin: 0 15px 20px 0 !important;
}

/* Select2 */
.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection--multiple {
    /*max-height: 32px;*/
    /*overflow: hidden;*/
}

.select2.select2-container .select2-selection--single {
    height: 39px;
}

.select2.select2-container .select2-selection--single .select2-selection__rendered {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.select2-selection__choice {
  white-space: pre-wrap;
    max-width: 95%;
}

/* Invisible forms */
form.form-invisible {
    display: inline-block;
}

form.form-invisible button[type="submit"] {
    display: inline-block;
    background: none;
    border: none;
}

/* Upload input */
input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
    cursor: pointer;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
    display: inline-block;
}

/* checkbox */
.checkbox-list {
    display: inline-block;
}

.toggle_checkbox {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toggle_checkbox[data-toggle_state="checked"]::before {
    content: "\e067";
}

.toggle_checkbox::before {
    content: "\e157";
}

.label-align-left {
  padding-left: 0;
  padding-top: 10px !important;
    text-align: left !important;
}

.full-width {
    width: 95%;
}

/*** image-upload component ***/
.image-upload {
  position: relative;
  width: 266px;
  height: 196px;
  padding: 0px 0px 30px 0px;
    border: 1px solid #C0C0C0;
}

/* span helper use for vertical aligh */
.image-upload-img-wrapper span {
  display: inline-block;
  vertical-align: middle;
    height: 100%;
}

.image-upload img {
  display: inline-block;
  max-width: 250px;
  max-height: 150px;
  margin: 0 auto;
    vertical-align: middle;
}

.image-upload-img-wrapper {
  width: 266px;
  height: 150px;
    text-align: center;
}

.image-upload-footer,
.image-upload-header {
  background-color: #F0F0F0;
  color: #333;
  height: 22px;
  width: 100%;
    padding-top: 2px;
}

.image-upload-header {
  padding-left: 5px;
    overflow: hidden;
}

.image-upload .iu-footer-height {
  float: left;
    padding-left: 10px;
}

.image-upload .iu-footer-size {
  float: right;
    padding-right: 10px;
}

.image-upload .image-upload-toolbar {
    display: none;
}

.image-upload:hover .image-upload-toolbar {
  position: absolute;
  top: 28px;
  right: 15px;
  display: block;
    animation: fadein 1s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/*** end image-upload component ***/
/* eliminate conflict between  minicolors and components-rounded.css */
.form-group.form-md-line-input .form-control.minicolors-input {
    padding-left: 44px;
}

/* TP Table */
.tp-table {
    display: table;
}

.tp-table-row {
    display: table-row;
}

.tp-table-cell {
  display: table-cell;
  border: 1px solid #ccc6c6;
    padding: 3px;
}

/* Datatable */
.table-checkable tbody tr th:first-child, .table-checkable tbody tr td:first-child {
  text-align: initial;
  max-width: inherit;
    min-width: inherit;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  padding: 0;
  margin: 0px;
  border: none;
    background: none;
}

.dataTables_wrapper .dataTables_paginate.paging_bootstrap_extended {
  float: left !important;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_info {
  clear: none;
  padding-top: 6px;
  padding-left: 5px;
    line-height: 1.2;
}

.dataTables_wrapper .dataTables_processing {
    z-index: 1;
}

table.dataTable[data-column-defs] {
  table-layout: fixed;
    word-wrap: break-word;
}

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting:after {
    content: "";
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 0px;
}

table.dataTable tfoot .select2-container .select2-selection--single {
    border: none;
}

table.dataTable.order-column tbody tr .sorting_1, table.dataTable.order-column tbody tr .sorting_2, table.dataTable.order-column tbody tr .sorting_3, table.dataTable.display tbody tr .sorting_1, table.dataTable.display tbody tr .sorting_2, table.dataTable.display tbody tr .sorting_3 {
    background-color: inherit;
}

table.dataTable[data-field_order] thead th:first-child {
    width: 5% !important;
}

table.dataTable[data-field_order] tr td:first-child {
  cursor: all-scroll;
    padding-left: 5px;
}

table.dataTable[data-field_order] tr td:first-child:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c9";
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    color: #ddd;
}

table.dataTable tbody th, table.dataTable tbody td, table.dataTable tfoot th, table.dataTable tfoot td, table.dataTable thead th, table.dataTable thead td {
  vertical-align: middle;
    padding: 4px 10px;
}

table p {
    margin: 0;
}

/* Datatable Filter */
label.col-md-12.control-label {
    text-align: left;
}

.sites-show a:hover, .sites-index a:hover {
    text-decoration: none;
}

.dataTables_wrapper.x-scrollable {
  height: 65vh;
  overflow: auto;
    width: 100%;
}

.data-table td img.table-image {
  max-width: 200px;
    max-height: 140px;
}

.paging_bootstrap_extended {
    margin: 0 !important;
}

.pagination-panel {
    margin-right: 5px;
}

.pagination-panel:after {
    content: "";
    border-right: 1px solid #333;
}

.pagination-panel-total {
  padding-right: 5px;
    line-height: 1.2;
}

@media only screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_paginate.paging_bootstrap_extended {
      float: none !important;
  }
  .pagination-panel:after {
      border-right: none;
  }
  .pagination-panel {
      margin-bottom: 15px;
  }
}

.reports-logs-index .form-horizontal .col-md-3:last-child {
    padding-top: 13px;
}

/* Toastr */
#toast-container {
  position: fixed;
  top: 50px;
  left: 40%;
  margin: inherit;
    max-width: 320px;
}

.toast-message a {
  color: #b0cae0;
    text-decoration: underline;
}

/* Modal */
.modal-dialog button.expand-modal {
  float: right;
  margin-right: 10px;
  background: initial;
  border: none;
  opacity: 0.2;
  font-size: 13px;
  color: black;
  padding-top: 0;
    margin-top: -4px;
}

.modal-dialog button.expand-modal:hover {
    opacity: 0.4;
}

.modal-dialog.full-width {
    width: 95%;
}

.modal-info p {
    text-align: left;
}

.modal-info ul li {
  list-style-type: none;
  text-align: left;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
      width: 950px;
  }
}

/* Sweet Alert */
.swal2-modal {
    z-index: 99999;
}

/* BreadCrumbs */
.last-breadcrumbs {
    text-transform: capitalize;
}

.filter-bread-crumbs .label-default {
  margin-right: 5px;
  background-color: #eee;
  color: #888;
    padding-right: 0px;
}

/* Profile Page */
.profile img.thumbnail {
    width: 120px;
}

.sub-title {
  font-style: italic;
  color: gray;
  vertical-align: sub;
  font-weight: 100;
    font-size: 0.7em;
}

.label.label-xs {
  font-size: 10px;
    padding: 0px 4px 2px 4px;
}

/* Nestable collapse */
.disclose {
  cursor: pointer;
  width: 20px;
    display: none;
}

.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

/* End nestable collapse */
.tab-content.hide-with-height > .tab-pane {
  height: 0;
  display: block;
    overflow-x: hidden;
}

.tab-content.hide-with-height > .active {
    height: auto;
}

.dash-stats-wrapper .cell {
  min-height: 100px !important;
  padding: 10px 0;
    line-height: 35px;
}

.dash-stats-wrapper .cell > p {
    margin-bottom: 0;
}

.dash-stats-wrapper .period {
    border-bottom: 1px solid #e7ecf1;
}

.dash-stats-wrapper .period .title {
    font-weight: bold;
    font-size: 18px;
}

.dash-stats-wrapper .period .ratio .diff {
    padding: 0 20px;
}

.dash-stats-wrapper .number {
  font-weight: 900;
    font-size: 1.2em;
}

.dash-stats-wrapper .profit-table {
  border-radius: 5px;
    margin-bottom: 50px;
}

.dash-stats-wrapper i.fa.fa-arrow-up {
  color: green;
    font-size: 25px;
}

.dash-stats-wrapper .revenue,
.dash-stats-wrapper .profit {
    border-left: 1px solid #e7ecf1;
}

.dash-stats-wrapper .negative i:before {
  content: "\f063";
    color: red;
}

/*style 1 - advertiser section*/
.advertiser-target-wrapper .table td {
    margin-left: 10px;
}

.advertiser-target-wrapper .table td.target-field, .advertiser-target-wrapper .table td[data-field="advertiser"] {
    line-height: 50px;
}

.advertiser-target-wrapper .table td:last-of-type {
    border-right: 1px solid #e7ecf1;
}

.advertiser-target-wrapper .table td.bg-strip {
    background-color: #fafafa;
}

.advertiser-target-wrapper .table td[data-field$="cpa"] .notification {
    padding-bottom: 15px;
    padding-top: 15px;
}

.advertiser-target-wrapper .table td .notification {
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px lightgrey;
}

.advertiser-target-wrapper .table td .notification.bg-green {
    background: #00ca5470 !important;
}

.advertiser-target-wrapper .table td .notification.bg-red {
    background: #ffb1b1 !important;
}

.advertiser-target-wrapper .table td .notification.bg-yellow {
    background: #f6fb3380 !important;
}

.advertiser-target-wrapper .table th {
    text-align: center;
    background-color: #E0E0E0;
}

.advertiser-target-wrapper .table th.advertiser_header {
    min-width: 200px;
}

.advertiser-target-wrapper .table th:nth-of-type(4n+2), .advertiser-target-wrapper .table th:nth-of-type(4n+3) {
    background: #c1c1c1;
}

.advertiser-target-wrapper .table th:nth-of-type(4n+2) {
    border-right: 1px solid transparent;
}

.advertiser-target-wrapper .table th:last-of-type {
    border-right: 1px solid #e7ecf1;
}

.advertiser-target-wrapper .table th,
.advertiser-target-wrapper .table td {
    border-left: 1px solid transparent;
}

.advertiser-target-wrapper .table tr:last-of-type {
    border-bottom: 1px solid #e7ecf1;
}

.advertiser-target-wrapper .table td.subject,
.advertiser-target-wrapper .table th[class$="header"] {
  font-weight: bold;
    font-size: 1.05em;
}

#scss-editor-page {
    padding-top: 20px;
}

#scss-editor-page .btn-add-new {
    display: block;
    margin-bottom: 10px;
}

#scss-editor-page .form-group {
    margin-bottom: 40px;
}

#scss-editor-page ul.files-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#scss-editor-page ul.files-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
}

#scss-editor-page ul.files-list li a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
}

#scss-editor-page ul.files-list li:hover {
    background: #eee;
}

#scss-editor-page ul.files-list li.active {
    background: #e1e1e1;
}

#site-settings-portlet .form-group {
    margin-bottom: 40px;
}

.general-settings {
    padding-bottom: 55px;
}

.general-settings .icon {
    font-size: 30px;
}

.general-settings textarea {
    font-family: monospace;
}

.general-settings .portlet-title {
    font-weight: 800;
    font-size: 15px;
    padding-bottom: 10px;
}

#querySettings {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
    border: none;
}

#empty-state ul {
    list-style-type: none;
}

#empty-state ul li {
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #00A0D1;
    cursor: pointer;
}

.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
      transform: rotate(-4deg);
  }
  50% {
      transform: rotate(4deg);
  }
  100% {
      transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
      -webkit-transform: rotate(-4deg);
  }
  50% {
      -webkit-transform: rotate(4deg);
  }
  100% {
      -webkit-transform: rotate(-4deg);
  }
}

#post_revisions {
    padding-top: 10px;
}

#post_revisions #visualization {
    padding-top: 10px;
}

#post_revisions .diff {
  border-bottom: 2px solid #e7ecf1;
  margin-top: 10px;
    margin-bottom: 5px;
}

#post_revisions .diff:last-child {
    border-bottom: none;
}

#post_revisions .diff .alert.alert-warning {
    margin-top: 20px;
}

#post_revisions .attribute-key {
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
  background: #e7ecf1;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
    border-radius: 5px;
}

#post_revisions .diff strong {
  display: block;
    margin-bottom: 10px;
}

#post_revisions .diff span {
  color: #fff;
  padding: 7px;
  display: inline;
    line-height: 33px;
}

#post_revisions .diff span.no-change {
  background: #eee;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.5;
    cursor: default;
}

#post_revisions .diff span.no-change:hover {
    opacity: 1;
}

#post_revisions .diff .change-row {
    padding: 20px;
}

#post_revisions .diff .key {
  font-weight: bold;
    padding-bottom: 15px;
}

#post_revisions .diff .change-row .removed {
    background: #F44336;
}

#post_revisions .diff .change-row .added {
    background: #4CAF50;
}

#post_revisions .vis-item .vis-item-content {
    cursor: pointer;
}

#post_revisions .animate {
  transition-property: all;
  transition-duration: 0.3s;
    transition-timing-function: linear;
}

#post_revisions .profile-icon {
  width: 25px;
    border-radius: 50%;
}

#quick_links ul {
  list-style-type: none;
  padding: 0;
    margin: 0;
}

#quick_links ul li {
  padding: 5px;
  padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

#quick_links ul li:last-child {
    border-bottom: none;
}

#quick_links ul li span.label {
  margin-left: 10px;
  margin-top: 5px;
    display: inline-block;
}

/** Min height for empty lists. **/
#order-tab .nestable-lists .dd-list {
    min-height: 35px;
}

.diff {
    z-index: 10;
}

.diff .diff-blade-wrapper {
    max-height: 300px;
    overflow: scroll;
    z-index: 10;
}

.diff span {
    color: #fff;
    padding: 7px;
    display: inline;
    line-height: 33px;
}

.diff span.added {
    background: #4CAF50;
}

.diff span.removed {
    background: #F44336;
}

.diff span.no-change {
    background: #eee;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
    cursor: default;
}

.diff span.no-change:hover {
    opacity: 1;
    color: black;
}

.diff [class$='wrapper'].no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.diff [class$='wrapper'].padding-bottom-twenty {
    padding-bottom: 20px;
}

.diff a.replaceText {
    z-index: 10;
    position: relative;
    margin: 20px auto;
}

.diff a.ignoreValidation {
    margin-left: 15px;
}

.activeAlert {
    background: orange !important;
}

body > div.page-container > div.page-content-wrapper > div.page-content > form > div.note.note-info {
  margin: 10px 0 10px 0;
    padding: 0 10px;
}

body > div.page-container > div.page-content-wrapper > div.page-content > form > div.note.note-info > h4 {
    line-height: 40px;
}

.widget-thumb {
  padding: 14px;
    min-height: 130px;
}

.widget-thumb.widget-bg-color-white.text-uppercase.margin-bottom-20.bordered[data-filter="highCTS"], .widget-thumb.widget-bg-color-white.text-uppercase.margin-bottom-20.bordered[data-filter="lowCTS"] {
    min-height: 70px;
}

.widget-thumb .widget-thumb-heading {
    margin: 0 0 5px 0;
}

.widget-row i.widget-thumb-icon {
    font-size: 35px;
}

.alert_types .widget-thumb {
    text-align: center;
}

.widget-thumb {
    font-size: 25px;
}

.dynamic-date-range .light.bordered {
    margin-top: 0;
}

.widget-row a {
    text-decoration: none;
}

.widget-thumb:hover, .widget-thumb.active {
    background-color: #f2f7f9;
}

.portlet .portlet-body .note.note-info h4 span {
  background: transparent;
    padding: 0;
}

.widget-thumb {
    min-height: 160px;
}

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    font-size: 23px;
}

.devices .widget-thumb {
  min-height: 90px;
    padding: 10px;
}

.devices .widget-thumb-heading {
  text-align: center;
    line-height: 30px;
}

.devices .widget-thumb-heading:after {
    top: 100%;
}

.devices .widget-thumb-wrap > i.widget-thumb-icon {
    display: block;
}

.widget-thumb .widget-thumb-heading {
  font-size: 16px;
    margin-bottom: 5px;
}

.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
  font-size: 13px;
    margin-bottom: 5px;
}

.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    font-size: 13px;
}

.filters-wrapper .portlet-title.tabbable-line {
    padding-bottom: 5px;
}

h4.widget-thumb-heading:after {
  top: 100%;
    display: none;
}

.dynamic-param-filters .form-group {
  margin-top: 15px;
    padding-bottom: 30px;
}

.dynamic-param-filters .form-control {
  max-width: 170px;
  font-size: 12px !important;
    max-width: 115px;
}

.instant-filters {
  padding-top: 15px;
    border-top: 1px solid #e9ecf1;
}

.picker {
  padding-top: 10px;
    padding-bottom: 20px;
}

.picker.dynamic-date-range {
    display: block;
    padding-top: 20px;
}

.dynamic-level-filters .form-group:first-of-type {
    padding-top: 10px;
}

.top-content-stats .description, .top-content-stats .name, .top-content-stats .amount {
    font-size: 12px;
}

.btn-group.duplicates .btn:first-of-type {
  line-height: 1.2;
    margin-right: 0;
}

.btn-group.duplicates .btn.dropdown-toggle {
    margin-left: 0;
}

.remove-duplicates {
    margin-bottom: 20px;
}

.dd-handle.alert-item {
    background-color: #eee;
}

.alert-item {
    cursor: pointer;
}

.dd-item .alert-item {
    transition: background-color 0.5s ease;
}

.dd-item.active > .alert-item {
    background: darkorange;
}

.alert-item-wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
    width: 90%;
}

.dd-handle {
  margin: 3px 0;
  max-width: 270px;
    color: #585f5b;
}

.dd-handle.alert-item {
    position: relative;
}

.dd-handle.alert-item .fa-bell-o {
    position: absolute;
    right: 5px;
    top: 8px;
}

.small {
  color: #aaa;
  display: block;
    text-align: left;
}

.btn.default:not(.btn-outline) {
    margin: 5px;
}

.description {
    color: #aaa;
}

.breadcrumbs {
    list-style-type: circle;
}

.breadcrumbs-list .item {
  padding: 5px;
    position: relative;
}

.breadcrumbs-list .item .name {
    overflow: hidden;
    text-overflow: initial;
    display: inline;
    max-width: 200px;
    position: relative;
}

.breadcrumbs-list .item .name:hover {
    overflow: visible;
    top: 0px;
}

.breadcrumbs-list .item:before {
    height: 15px;
    width: 2px;
    display: block;
    left: -15px;
    top: -7px;
    content: '';
    position: absolute;
    background: #778593;
}

.breadcrumbs-list .item:first-of-type:before {
    background: transparent;
}

.buttons .btn {
    width: 24%;
}

.sort-by-buttons.btn-group button.btn.default {
    margin: 0;
}

.sort-by-buttons button.dropdown-toggle {
    height: 28px;
}

.overview-wrapper {
    border-left: 1px solid #778592;
}

.overview {
  padding-left: 0;
    list-style: none;
}

.overview .field {
    margin-bottom: 10px;
    position: relative;
    top: 5px;
}

.favorite {
    color: #b82828;
}

.match-type {
  font-style: normal;
    text-transform: uppercase;
}

span.icons {
  position: absolute;
  z-index: 2;
  right: 5px;
    line-height: 12px;
}

.fa-other:before {
    content: "\f23c";
}

.flatOrMarked {
  max-width: initial;
    margin-right: 10px;
}

.base-levels {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 57px;
  display: inline-block;
  line-height: 15px;
    max-width: 86%;
}

.base-levels span.values {
    position: absolute;
    right: 19%;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 1px 2px;
  font-size: 10px;
  line-height: 1.5;
    border-radius: 3px;
}

.marked {
  vertical-align: bottom;
    padding-right: 20px;
}

.nav-pills.alert-selection > li > a {
    border-radius: 4px 4px;
}

.alert-selection.nav.nav-pills {
    margin-bottom: 0;
}

.alert-selection.nav.nav-pills a.btn {
    padding: 5px 10px !important;
    border-radius: 4px !important;
}

.summary tr:nth-child(odd) td.advertiser {
  border-top: none;
    opacity: 0;
}

.summary tr.data_row:nth-child(odd), .summary tr.headers_row {
  border: 2px #d2d2d2;
    border-bottom-style: solid;
}

.summary .red {
  color: red !important;
    font-weight: bold;
}

.summary .blue {
  color: blue !important;
    font-weight: bold;
}

.page-speed-main .red {
  color: red !important;
    font-weight: bold;
}

.page-speed-main .blue {
  color: blue !important;
    font-weight: bold;
}
