body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}
.page-content {
    overflow-y: scroll;
}

/*turn on the ability to scroll on mobile*/
@media only screen and (max-width: 767px) {
.dropdown-menu .dropdown-menu-list{
    overflow: scroll !important;}

.page-content-wrapper .page-content{
    overflow: scroll;
}
}


/* Typography */
span.extra-info {
    display: block;
    color: #B4B8BB;
    font-size: 11px;
}
span.extra-info b {
    min-width: 30px;
    display: inline-block;
    font-weight: 500;
}
.portlet h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.portlet h4::after {
    border-bottom: 1px solid #eee;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
}

.icon-trash {
    color: #337ab7;
}
.icon-trash-color {
    color:#666;
}

/* FORM */
.tb-actions-duplicate-group a.btn {
    padding-left: 5px;
    padding-right: 5px;
}


.portlet h4 span {
    background: white;
    padding: 0 15px;
}

/* Header */
.page-header.navbar .page-logo .logo-default {
    margin-top: 8px;
}
.page-header.navbar .menu-toggler {
    background-image: url(/assets/global/layout/img/sidebar_toggler_icon_darkblue.png);
}

/* Footer */
.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #364150;
}



section {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #F9F9F9;
    border-radius: 6px;
    margin-bottom: 10px;
}
section h4 {
    padding-left: 20px;
}
section .section-header {
    margin: 8px 15px;
    height: 43px;
    border-bottom: 1px solid #eef1f5;
    cursor: pointer;
}
section .actions {
    float: right;
}
section .caption {
    float: left;
    height: 100%;
    display: table;
}
section .caption span {
    display: table-cell;
    vertical-align:middle;
}
section .section-body  {
    overflow: hidden;
    max-height: 500px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.collapsed .section-body  {
    max-height: 0;
}
/* Activates error for help blocks */
.form-group.form-md-line-input .help-block.error {
    opacity: 1;
}

.portlet.light .portlet-body .actions {
    margin-bottom: 20px;
}

/* Select2 */
.select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--multiple {
    /*max-height: 32px;*/
    /*overflow: hidden;*/
}
.select2-container .select2-selection--single {
    height: 39px;
}
.select2-selection__choice {
    white-space: pre-wrap;
    max-width: 95%;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Invisible forms */
form.form-invisible {
    display: inline-block;
}
form.form-invisible button[type="submit"] {
    display: inline-block;
    background: none;
    border: none;
}

/* Upload input */
input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* checkbox */
.checkbox-list {
    display: inline-block;
}
.toggle_checkbox {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toggle_checkbox[data-toggle_state="checked"]::before {
    content: "\e067";
}
.toggle_checkbox::before {
    content: "\e157";
}

/* TP Table */
.tp-table {
    display: table;
}
.tp-table-row {
    display: table-row;
}
.tp-table-cell {
    display: table-cell;
    border: 1px solid #ccc6c6;
    padding: 3px;
}

/* Datatable */
.table-checkable tbody tr > th:first-child,
.table-checkable tbody tr > td:first-child {
    text-align: initial;
    max-width: inherit;
    min-width: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    padding: 0;
    margin: 0px;
    border: none;
    background: none;
}
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:after {
    content: "";
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 0px;
}
table.dataTable tfoot .select2-container .select2-selection--single {
    border: none;
}
table p {
     margin: 0;
}

.form-inline > .form-group {
    margin: 0 15px 20px 0 !important;
}

table.dataTable.order-column tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2, table.dataTable.display tbody tr>.sorting_3 {
    background-color: inherit;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px;
}

/* Datatable Pagination Repositioning */
.dataTables_wrapper .dataTables_info {
    clear: none;
}

.dataTables_wrapper .dataTables_paginate.paging_bootstrap_extended {
    float: left !important;
    font-size: 14px;
}

.paging_bootstrap_extended {
    margin: 0 !important;
}

.pagination-panel{
    margin-right: 5px;
}

.pagination-panel-total {
    padding-right: 5px;
    line-height: 1.2;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top:6px;
    padding-left: 5px;
    line-height: 1.2;
}

.pagination-panel:after {
    content: "";
    border-right: 1px solid #333;
}

@media only screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_paginate.paging_bootstrap_extended{
        float: none !important;
    }

    .pagination-panel:after {
        border-right:none;
    }

    .pagination-panel {
        margin-bottom: 15px;
    }
}

.reports-logs-index .form-horizontal .col-md-3:last-child {
    padding-top: 13px;
}

/* Datatable Filter */
label.col-md-12.control-label {
    text-align: left;
}

/* State Icons */
.warning-icon {
    color: #ffa707;
    font-size: 1.5em;
}
.notice-icon {
    color: #4ace17;
    font-size: 1.5em;
}
.error-icon {
    font-size: 1.5em;
    color: #ff2c2c;
}
.info-icon {
    color: #b7b7ff;
    font-size: 1.5em;
}
.debug-icon {
    color: grey;
    font-size: 1.5em;
}

/* Toastr */
#toast-container {
    position: fixed;
    top: 50px;
    left: 40%;
    margin: inherit;
    max-width: 320px;
}
.toast-message a {
    color: #b0cae0;
    text-decoration: underline;
}

/* Profile Page */
.profile img.thumbnail {
    width: 120px;
}

/* Modal */
.modal-dialog button.expand-modal {
    float: right;
    margin-right: 10px;
    background: initial;
    border: none;
    opacity: 0.2;
    font-size: 13px;
    color: black;
    padding-top: 0;
    margin-top: -4px;
}
.modal-dialog button.expand-modal:hover {
    opacity: 0.4;
}
.modal-dialog.full-width {
    width: 95%;
}

@media (min-width: 768px) {
    /* Modal */
    .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    /* Modal */
    .modal-dialog {
        width: 950px;
    }
    /* Navigation */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
        width: 250px;
    }
}

/* Light Portlet */
.portlet.light {
    margin-top: 11px;
}

/* BreadCrumbs */
.last-breadcrumbs {
    text-transform: capitalize;
}

/* Portlet Nav */
.portlet-nav {
    position: relative;
}
.portlet-nav .content {
    width: 90%;
    position: absolute;
    left: 40px;
    margin-top: 10px;
    padding: 20px;
    min-height: 100px;
    background: #eee;
    z-index: 100;
    display: none;
    outline:0;
}
.portlet-nav ul {
    display: flex;
    padding: 0px;
}
.portlet-nav li.nav-item{
    list-style: none;
    flex: 1;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
}
.portlet-nav li.nav-item.open {
    background-color: #d8d6d6;
}
.portlet-nav li.nav-item.open a.label::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #eee;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: -26px;
    left: 60px;
}
.portlet-nav li.nav-item.open .content{
    display: block;
}
.portlet-nav .content .form-group:not(:first-child) label {
    display:none;
}
.portlet-nav .content .form-group:not(:first-child) .tb-actions-duplicate-group {
    padding-top: initial;
}
.portlet-nav li.nav-item {
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.portlet-nav li.nav-item:hover {
    background-color: #ccc8c8;
}
.portlet-nav li.nav-item a.label {
    color: #888;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
}
.portlet-nav li.nav-item a.label:hover {
    text-decoration: none;
    color: #888;
}
.filter-bread-crumbs .label-default {
    margin-right: 5px;
    background-color: #eee;
    color: #888;
    padding-right: 0px;
}
