/* Cubic Bezier Transition */

/***
Login page
***/

/* logo page */

.forgot-password {
    background-color: #666 !important;
}

.forgot-password .logo{
    margin: 60px auto 20px auto;
    padding: 15px;
    text-align: center;
}

.forgot-password .content
{
    background: url(../img/bg-white-lock.png) repeat;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 7px;
}

.forgot-password .content h3 {
    color: #eee;
}

.forgot-password .content h4
{
    color: #eee;
}

.forgot-password .content p,
.forgot-password .content label {
    color: #fff;
}

.forgot-password .content .forgot-password-form,
.forgot-password .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.forgot-password .content .form-control {
    background-color: #fff;
}

.forgot-password .content .register-form {
    display: none;
}

.forgot-password .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.forgot-password .content .form-actions {
    background-color: transparent;
    clear: both;
    border: 0px;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.forgot-password .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.forgot-password .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.forgot-password .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.forgot-password .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.forgot-password .content .form-actions .btn {
    margin-top: 1px;
}

.forgot-password .content .forget-password {
    margin-top: 25px;
}

.forgot-password .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.forgot-password .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* select2 dropdowns */

.forgot-password .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top: 1px;
    margin: 4px 4px 0px -1px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.forgot-password .content .has-error .select2-container i {
    color: #b94a48;
}

.forgot-password .content .select2-container a span {
    font-size: 13px;
}

.forgot-password .content .select2-container a span img {
    margin-left: 4px;
}

/* footer copyright */

.forgot-password .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #eee;
    font-size: 13px;
}

@media (max-width: 480px) {
    /***
    Login page
    ***/

    .forgot-password .logo {
        margin-top: 10px;
    }

    .forgot-password .content {
        padding: 30px;
        width: 222px;
    }

    .forgot-password .content h3 {
        font-size: 22px;
    }

    .forgot-password .checkbox {
        font-size: 13px;
    }
}