.dash-stats-wrapper {
  .cell {
    min-height: 100px !important;
    padding: 10px 0;
    line-height: 35px;
    > p {
      margin-bottom: 0;
    }
  }
  .period {
    border-bottom: 1px solid #e7ecf1;
    .title {
      font-weight: bold;
      font-size: 18px;
    }
    .ratio {
      .diff {
        padding: 0 20px;
      }
    }
  }
  .number {
    font-weight: 900;
    font-size: 1.2em;
  }
  .profit-table {
    border-radius: 5px;
    margin-bottom: 50px;
  }
  i.fa.fa-arrow-up {
    color: green;
    font-size: 25px;
  }
  .revenue,
  .profit {
    border-left: 1px solid #e7ecf1;
  }
  .negative i:before {
    content: "\f063";
    color: red;
  }
}
