//General Part - index.blade
.activeAlert {
  background: orange !important;
}
body > div.page-container > div.page-content-wrapper > div.page-content > form > div.note.note-info {
  margin: 10px 0 10px 0;
  padding: 0 10px;
  > h4 {
    line-height: 40px;
  }
}
.widget-thumb {
  &.widget-bg-color-white.text-uppercase.margin-bottom-20.bordered {
    &[data-filter="highCTS"], &[data-filter="lowCTS"] {
      min-height: 70px;
    }
  }
  .widget-thumb-heading {
    margin: 0 0 5px 0;
  }
  padding: 14px;
  min-height: 130px;
}
//FILTER PART - filters.blade
.widget-row i.widget-thumb-icon {
  font-size: 35px;
}
.alert_types .widget-thumb {
  text-align: center;
}
.widget-thumb {
  font-size: 25px;
}
.dynamic-date-range .light.bordered {
  margin-top: 0;
}
.widget-row a {
  text-decoration: none;
}
.widget-thumb {
  &:hover, &.active {
    background-color: #f2f7f9;
  }
}
.portlet .portlet-body .note.note-info h4 span {
  background: transparent;
  padding: 0;
}
.widget-thumb {
  .widget-thumb-body .widget-thumb-body-stat {
    font-size: 23px;
  }
  min-height: 160px;
}
.devices {
  .widget-thumb {
    min-height: 90px;
    padding: 10px;
  }
  .widget-thumb-heading {
    text-align: center;
    line-height: 30px;
    &:after {
      top: 100%;
    }
  }
  .widget-thumb-wrap > i.widget-thumb-icon {
    display: block;
  }
}
.widget-thumb {
  .widget-thumb-heading {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .widget-thumb-body {
    .widget-thumb-subtitle {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .widget-thumb-body-stat {
      font-size: 13px;
    }
  }
}
.filters-wrapper .portlet-title.tabbable-line {
  padding-bottom: 5px;
}
h4.widget-thumb-heading:after {
  top: 100%;
  display: none;
}
.dynamic-param-filters {
  .form-group {
    margin-top: 15px;
    padding-bottom: 30px;
  }
  .form-control {
    max-width: 170px;
    font-size: 12px !important;
    max-width: 115px;
  }

}
.instant-filters {
  padding-top: 15px;
  border-top: 1px solid #e9ecf1;
}
.picker {
  padding-top: 10px;
  padding-bottom: 20px;
  &.dynamic-date-range {
    display: block;
    padding-top: 20px;
  }
}
.dynamic-level-filters .form-group:first-of-type {
  padding-top: 10px;
}
.top-content-stats {
  .description, .name, .amount {
    font-size: 12px;
  }
}
.btn-group.duplicates .btn {
  &:first-of-type {
    line-height: 1.2;
    margin-right: 0;
  }
  &.dropdown-toggle {
    margin-left: 0;
  }
}
.remove-duplicates {
  margin-bottom: 20px;
}
//LIST PART - list.blade
.dd-handle.alert-item {
  background-color: #eee;
}
.alert-item {
  cursor: pointer;
}
.dd-item {
  .alert-item {
    transition: background-color 0.5s ease;
  }
  &.active > .alert-item {
    background: darkorange;
  }
}
.alert-item-wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}
.dd-handle {
  margin: 3px 0;
  max-width: 270px;
  color: #585f5b;
  &.alert-item {
    position: relative;
    .fa-bell-o {
      position: absolute;
      right: 5px;
      top: 8px;
    }
  }
}
.small {
  color: #aaa;
  display: block;
  text-align: left;
}
.btn.default:not(.btn-outline) {
  margin: 5px;
}
.description {
  color: #aaa;
}
.breadcrumbs {
  list-style-type: circle;
}
.breadcrumbs-list .item {
  padding: 5px;
  position: relative;
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100px;
    position: relative;
    top: 5px;
    &:hover {
      overflow: visible;
      top: 0px;
    }
  }
  &:before {
    height: 15px;
    width: 2px;
    display: block;
    left: -15px;
    top: -7px;
    content: '';
    position: absolute;
    background: #778593;
  }
  &:first-of-type:before {
    background: transparent;
  }
}
.buttons .btn {
  width: 24%;
}
.sort-by-buttons {
  &.btn-group button.btn.default {
    margin: 0;
  }
  button.dropdown-toggle {
    height: 28px;
  }
}
.overview-wrapper {
  border-left: 1px solid #778592;
}
.overview {
  padding-left: 0;
  list-style: none;
  .field {
    margin-bottom: 10px;
    position: relative;
    top: 5px;
  }
}
.favorite {
  color: rgb(184, 40, 40);
}
.match-type {
  font-style: normal;
  text-transform: uppercase;
}
span.icons {
  position: absolute;
  z-index: 2;
  right: 5px;
  line-height: 12px;
}
.fa-other:before {
  content: "\f23c";
}
.flatOrMarked {
  max-width: initial;
  margin-right: 10px;
}
.base-levels {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 57px;
  display: inline-block;
  line-height: 15px;
  max-width: 86%;

  span.values {
    position: absolute;
    right: 19%;
  }
}
.btn-group-xs > .btn, .btn-xs {
  padding: 1px 2px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
}
.marked {
  vertical-align: bottom;
  padding-right: 20px;
}
.nav-pills.alert-selection > li > a {
  border-radius: 4px 4px;
}
.alert-selection.nav.nav-pills {
  margin-bottom: 0;
  a.btn {
    padding: 5px 10px !important;
    border-radius: 4px !important;
  }
}