//Summary widget
.summary {
  tr {
    &:nth-child(odd) td.advertiser {
      border-top: none;
      opacity: 0;
    }
    &.data_row:nth-child(odd), &.headers_row {
      border: 2px #d2d2d2;
      border-bottom-style: solid;
    }
  }
  .red {
    color: red !important;
    font-weight: bold;
  }
  .blue {
    color: blue !important;
    font-weight: bold;
  }
}



