/*style 1 - advertiser section*/
.advertiser-target-wrapper {
  .table {
    td {
      &.target-field,
      &[data-field="advertiser"] {
        line-height: 50px;
      }
      &:last-of-type {
        border-right: 1px solid #e7ecf1;
      }
      margin-left: 10px;

      &.bg-strip {
        background-color: #fafafa;
      }
      &[data-field$="cpa"] {
        .notification {
          padding-bottom: 15px;
          padding-top: 15px;
        }
      }
      .notification {
        font-weight: bold;
        padding: 5px;
        border-radius: 2px;
        box-shadow: 1px 1px 3px 1px lightgrey;
        &.bg {
          &-green {
            background: #00ca5470 !important;
          }
          &-red {
            background: #ffb1b1 !important;
          }
          &-yellow {
            background: #f6fb3380 !important;
          }
        }
      }
    }
    th {
      &.advertiser_header {
        min-width: 200px;
      }
      text-align: center;
      background-color: #E0E0E0;
      &:nth-of-type(4n+2),
      &:nth-of-type(4n+3) {
        background: #c1c1c1;;
      }
      &:nth-of-type(4n+2) {
        border-right: 1px solid transparent;
      }
      &:last-of-type {
        border-right: 1px solid #e7ecf1;
      }
    }
    th,
    td {
      border-left: 1px solid transparent;
    }

    tr:last-of-type {
      border-bottom: 1px solid #e7ecf1;
    }
    td.subject,
    th[class$="header"] {
      font-weight: bold;
      font-size: 1.05em;
    }
  }
}
